<ion-view title="Menu Kategori" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="menuKategori-list2">
      <ion-item id="menuKategori-list-item7" ui-sref="menu.jasa">Fashion</ion-item>
      <ion-item id="menuKategori-list-item9" ui-sref="menu.pendidikan">Pendidikan</ion-item>
      <ion-item id="menuKategori-list-item10" ui-sref="menu.kuliner">Kuliner</ion-item>
      <ion-item id="menuKategori-list-item11" ui-sref="menu.gayaHidup">Entertainment</ion-item>
      <ion-item id="menuKategori-list-item12" ui-sref="menu.belanja">Belanja</ion-item>
      <ion-item id="menuKategori-list-item13" ui-sref="menu.olahraga">Travel</ion-item>
      <ion-item id="menuKategori-list-item16" ui-sref="menu.wisataHiburan">Kesehatan</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
