<ion-view title="Menu Kategori" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="menuKategori-list2">
      <ion-item id="menuKategori-list-item7" ui-sref="menu.jasa" class="center-menu-item">Jasa</ion-item>
      <ion-item id="menuKategori-list-item9" ui-sref="menu.pendidikan" class="center-menu-item">Pendidikan</ion-item>
      <ion-item id="menuKategori-list-item10" ui-sref="menu.kuliner" class="center-menu-item">Kuliner</ion-item>
      <ion-item id="menuKategori-list-item11" ui-sref="menu.gayaHidup" class="center-menu-item">Gaya Hidup</ion-item>
      <ion-item id="menuKategori-list-item12" ui-sref="menu.belanja" class="center-menu-item">Belanja</ion-item>
      <ion-item id="menuKategori-list-item13" ui-sref="menu.olahraga" class="center-menu-item">Olah Raga</ion-item>
      <ion-item id="menuKategori-list-item16" ui-sref="menu.wisataHiburan" class="center-menu-item">Wisata &amp; Hiburan</ion-item>
    </ion-list>
  </ion-content>
</ion-view>